.first-container{
    height:90%;
    width:88%;
    border:solid;
    border-color:#EEEEEE;
    box-shadow: inset 10px 10px 10px 8px #EEEEEE, inset -7px -7px 10px 8px white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.second-container{
    height:87%;
    width:93%;
    border:solid;
    border-color:#EEEEEE;
    box-shadow: inset 10px 10px 10px 8px #EEEEEE, inset -7px -7px 10px 8px white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#head{
   color:#4F695C;
   font-family: sans-serif;
   margin: 0;
   font-size:30px;
   position: absolute;
   top: 50%;
   left: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   text-align: center;
   width: 90%;
}
.first-container {
	background: linear-gradient(-45deg,#FDF0C4,#FCC0CC,#78d2cd,#FEC987, white,white);
    background-position: 0% 0%;
    background-size: 400% 400%;
	animation: gradient 12s ease;
}
@keyframes gradient {
	0% {
		background-position:0% 0%;
	}
    5%{
        background-position: 0% 0%;
    }
    30%{
        background-position: 50% 50%;
    }
    65%{
		background-position: 100% 100%;
	}
    100%{
        background-position:0% 0%;
    }
}